.table-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  .search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .search-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-table th,
  .data-table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .data-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }
  
  .data-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 0;
    padding: 0;
  }
  
  .pagination li {
    cursor: pointer;
  }
  
  .pagination li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .pagination li a:hover {
    background-color: #e6e6e6;
  }

  /* SORT */
  .sort-arrow{
    cursor: pointer;
  }
  